<p>{{ _("Hello {0},").format(student_name) }}</p>
<p>{{ _("You have been enrolled in the following REA LMS learning group:") }}</p>
<div class="rea-email-panel">
<p><strong>{{ title }}</strong></p>
<p><strong>{{ _("Start date:") }}</strong> {{ frappe.utils.format_date(start_date, "medium") }}</p>
{% if medium %}
<p><strong>{{ _("Delivery:") }}</strong> {{ medium }}</p>
{% endif %}
<p><strong>{{ _("Time:") }}</strong> {{ frappe.utils.format_time(start_time, "hh:mm a") }}</p>
</div>
<p><a class="rea-email-button" href="{{ get_lms_route('batches/' ~ name) }}">{{ _("View learning group") }}</a></p>
<p>{{ _("We look forward to learning with you.") }}</p>
